/*Police de caractère*/
@font_face {
    font-family: "Raleway";
    src: url ("raleway/Raleway-Regular.ttf");
}

body {
    font-family: "Raleway", serif;
    font-size: 13px;
    margin: 8px 0;
}


/*Dimensions des principales sections de la page*/
header, .search, .accomodation_popular, .activities, footer {
    width: 90%;
    margin: auto;
}

/*Header*/
header {
    display: flex;
    justify-content: space-between;
}

header img {
    display: flex;
    width: 100px;
    height: 40px;
} /*logo*/

nav {
    display: flex;
    justify-content: flex-end;
} /*barre de navigation*/

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
}

nav li {
    padding-left: 100px;
}

nav a {
    font-size: 1em;
    color: black;
    text-decoration: none;
}

.sinscrire {
    color:#0065FC;
    font-weight: bold;
}

nav li a:hover {
    color:#0065FC; 
    border-top: 3px solid;
    padding-top: 18px;
}

/*Section "search"*/

/*rubrique recherche*/
.fa-map-marker {
    color: black;
    border: 1px solid #DEEBFF ;
    /*border-collapse: collapse;*/
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px;
    background-color: #DEEBFF;
    height: 15px;
    padding: 10px;
}

.search_button {
    display: flex;
    height: 40px;
} /*trouver comment coller les rectangles*/ 

.search_button input[type="type_search"] {
    border: 1px solid #F2F2F2;
    /*border-collapse: collapse;*/
    height: 15px;
    padding: 10px;
} 
.search_button input[value="Marseille, France"] {
    font-weight: bold;
}

.search_button button[type="btn_search"] {
    border: 1px solid #0065FC;
    /*border-collapse: collapse;*/
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: transform 0.1s;
}

.search_button button[type="btn_search"]:hover {
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px gainsboro;
    transform: scale(1.01);
}
.search_button button[type="btn_search"] a {
    text-decoration: none;
    color: white;
}

.btn {
    color: #0065FC;
    border: 1px;
    border-radius: 50px;
    background-color: #DEEBFF;
    padding: 10px 14px;
}

/*rubrique filtres*/
.filters {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.filters span {
    display: flex;
    margin-right: 30px;
}

.filter_buttons {
    display: flex;
}

.filter {
    border: 1px solid lightgray;
    border-radius: 50px;
    margin: 10px;
    padding: 0px 14px 0px 0px;
    transition: transform 0.1s;
}

.filter:hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 1px 1px gainsboro;
}

.filter a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}


/*rubrique info*/
.search_info span {
    padding-right: 10px;
}

.fa-info {
    color: #0065FC;
    border: 1px solid #DEEBFF;
    padding: 5px;
    margin: 5px 5px 5px 5px;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    text-align: center;
} /*taille du "i" = grande et en gras*/



/*Section "accomodation_popular"*/
.fa-star {
    color: #0065FC;
}

.accomodation_popular {
    display: flex;
}

.accomodation_popular .element {
    border: 3px solid white;  
    border-radius: 15px;
    background-color: white;
}

.accomodation {
    margin: 0 10px 0 0;
    padding: 10px 18px;
    background-color: #F2F2F2;
    width: 70%;
    border-radius: 15px;
}

.popular {
    margin: 0 0 0 10px;
    padding: 10px 18px;
    background-color: #F2F2F2;
    width: 30%;
    border-radius: 15px;
}

.popular_intro {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.cards1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
}

.cards2 {
    display: flex;
    flex-direction: column;
}

.cards1 .element {
    box-shadow: 1px 1px 1px 1px gainsboro;
    transition: transform 0.1s;
}
.cards1 .element:hover {
    transform: scale(1.02);
}

.cards2 .element {
    box-shadow: 1px 1px 1px 1px gainsboro;
    transition: transform 0.1s;
}
.cards2 .element:hover {
    transform: scale(1.02);
}

.accomodation .cards1 .element {
    width: 29%;
    margin: 0 5px 15px 5px;
    height: 170px;
}

.accomodation .cards1 .element_image1 {
    width: 100%;
    height: 58%;
    overflow: hidden;
    margin: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.accomodation .cards1 .element_image1 .cropped {
    width: 100%;
    margin: -21px 0 0 0px;
} /*Auberge de la Cannebière, Hôtel du port, Hôtel Les mouettes*/

.cards1 .element .element_image1 .image_mer {
    margin: -63px 0px 0px 0px;
} /*Hôtel de la mer*/

.cards1 .element .element_image1 .image_amina {
    margin: -131px 0px 0px 0px;
} /*Hôtel Amina*/

.cards2 .element {
    display: flex;
    margin: 0 5px 15px 5px;
    height: 110px;
    width: 90%;
}

.cards2 .element .element_description {
    width: 60%;
    height: 100%;
}

.cards2 .element .element_image2 {
    width: 40%;
    height: 100%;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
} 

.cards2 .element .element_image2 .cropped {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 151%;
    margin: 0 0 0 -30px;
} /*Hôtel Le soleil du matin, Chambres d'hôtes*/

.cards2 .element .element_image2 .bleu_blanc {
    width: 110%;
    margin: -55px 0 0 -9px;
} /*Hôtel Tout bleu et blanc*/

.accomodation .element_description, .popular .element_description {
    line-height: 1;
    padding: 0 0 0 10px;
}

.activities .element_description {
    line-height: 3;
    padding: 0 0 0 10px;
} /*à revoir*/
 
.element_description p {
    padding: 0 0 0 10px;
} /*à revoir*/

.title {
    font-weight: bold;
}

/*Section "Activités"*/

/*style commun*/
.activities {
    width: 90%;
    height: 480px;
    margin: auto;
    padding: 10px 18px;
}

.activities .cards1 {
    display: flex;
}

.activities .cards1 .element {
    width: 20%;
    /*height: 300px;*/
    border-radius: 15px;
    /*border: 3px solid white;*/
}

.activities .cards1 .element .element_description {
    width: 100%;
    height: 40px;
}

.activities .cards1 .two_elements_in_column {
    width: 20%;
    /*height: 300px;*/
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin: 0 0px 10px 0px;
}
.activities .cards1 .two_elements_in_column .element {
    width: 100%;
    height: 100%;
}
.activities .cards1 .two_elements_in_column .element .element_description {
    width: 100%;
    /*height: 50px;*/
    align-content: space-around;
}

.blank {
    width: 100%;
    height: 20px;
}

.activities .cards1 .element_description .p {
    line-height: 1.8;
}

.element_image3, .element_image4, .element_image5, .element_image6 {
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


/*style spécifique aux images de la section "activités"*/

.element_image3 {
    height: 300px;
}
.element_image3 .cropped {
    width: 200%;
    height: 120%;
    overflow: hidden;
    margin: -14px 0 0 -133px;
} /*Vieux Port, Parc National des Calanques*/

.element_image4 {
    height: 140px;
}
.element_image4 .cropped {
    width: 103%;
    height: 266%;
    overflow: hidden;
    margin: -93px 0px 0px -5px;
} /* Fort de Pomègues*/

.element_image5 {
    height: 90px;
}
.element_image5 .cropped {
    width: 100%;
    overflow: hidden;
    margin: 0 0 0 0;
} /*Îles du Frioul*/

.element_image6 {
    height: 120px;
}
.element_image6 .cropped {
    width: 100%;
    height: 156%;
    overflow: hidden;
    margin: -11px 0 0 0;
} /* Notre-Dame-de-la-Garde, Parc Longchamp*/ 


/*hyperliens et survols*/
.cards1 a {
    color: black;
    text-decoration: none;
}

.cards2 a {
    color: black;
    text-decoration: none;
}

.element a {
    color: black;
    text-decoration: none; /*reste actif*/
}

.element:hover {
    border-radius: 18px;
    color: black;
    text-decoration: none; /*reste actif*/
}

/*Footer*/

footer {
    width: 80%;
    height: 140px;
    display: flex;
    background-color: #F2F2F2;
    justify-content: flex-start;
    padding-left: 3%;
}

footer div {
    margin-right: auto;
}

footer div ul {
    list-style-type: none;
}

.footer_title {
    font-weight: bold;
    line-height: 2.8;
}

footer div ul li {
    line-height: 1.8;
}

footer div ul li a {
    color: black;
    text-decoration: none;
}

footer div ul li a:hover {
    border-bottom: 1px solid;
    text-shadow: 2px 2px 2px gainsboro;
    cursor: pointer;
    text-decoration: none;
}