@font_face {
    font-family: "Raleway";
    src: url ("raleway/Raleway-Regular.ttf");
}

body {
    font-family: "Raleway", serif;
    font-size: 13px;
    margin: 8px 0;
}

header, .search, .accomodation_popular, .activities, footer {
    width: 90%;
    margin: auto;
}

header img {
    display: flex;
    width: 100px;
    height: 40px;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
}

nav li {
    padding-left: 100px;
}

nav a {
    font-size: 1em;
    color: black;
    text-decoration: none;
}

.fa-star {
    color: #0065FC;
}

.search_button {
    display: flex;
    height: 40px;
} /*trouver comment coller les rectangles*/ 

.search_button input[type="type_search"] {
    border: 1px solid #F2F2F2;
    height: 15px;
    padding: 10px;
} 
.search_button input[value="Marseille, France"] {
    font-weight: bold;
}

.search_button button[type="btn_search"] {
    border: 1px solid #0065FC;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.search_button button[type="btn_search"]:hover {
    cursor: pointer;
}
.search_button button[type="btn_search"] a {
    text-decoration: none;
    color: white;
}

.fa-map-marker {
    color: black;
    border: 1px solid #DEEBFF ;
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px;
    background-color: #DEEBFF;
    height: 15px;
    padding: 10px;
}

.btn {
    color: #0065FC;
    border: 1px;
    border-radius: 50px;
    background-color: #DEEBFF;
    padding: 10px 14px;
}

.filter a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.filters {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.filters span {
    display: flex;
    margin-right: 30px;
}

.filter_buttons {
    display: flex;
}

.filter {
    border: 1px solid lightgray;
    border-radius: 50px;
    margin: 10px;
    padding: 0px 14px 0px 0px;
}

.search_info span {
    padding-right: 10px;
}

.fa-info {
    color: #0065FC;
    border: 1px solid #DEEBFF;
    padding: 5px;
    margin: 5px 5px 5px 5px;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    text-align: center;
} /*taille du "i" = grande et en gras*/

.sinscrire {
    color:#0065FC;
    font-weight: bold;
}

nav li a:hover {
    color:#0065FC; 
    border-top: 3px solid;
    padding-top: 18px;
}

.accomodation_popular {
    display: flex;
}

.accomodation {
    margin: 0 10px 0 0;
    padding: 10px 18px;
    background-color: #F2F2F2;
    width: 70%;
    border-radius: 15px;
}

.popular {
    margin: 0 0 0 10px;
    padding: 10px 18px;
    background-color: #F2F2F2;
    width: 30%;
    border-radius: 15px;
}

.popular_intro {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.cards1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
}

.cards2 {
    display: flex;
    flex-direction: column;
}

.accomodation .cards1 .element {
    width: 29%;
    margin: 0 5px 15px 5px;
    height: 170px;
}/*pour les images 1, 2, 3 et 5 - ajouter un height, overflow et margin pour réajuster le bas de l'image*/

.accomodation .cards1 .element_image1 {
    width: 100%;
    height: 58%;
    overflow: hidden;
    margin: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.accomodation .cards1 .element_image1 .cropped {
    width: 100%;
    margin: -21px 0 0 0px;
}

.cards1 .element .element_image1 .image_mer {
    margin: -50px 0px 0px 0px;
} /* pour l'image hôtel de la mer*/

.cards1 .element .element_image1 .image_amina {
    margin: -110px 0px 0px 0px;
}

.cards2 .element {
    display: flex;
    margin: 0 5px 15px 5px;
}

.cards2 .element .element_image {
    width: 40%;
}

.activities {
    width: 90%;
    margin: auto;
    padding: 10px 0px;
}

.activities .cards1 {
    display: flex;
    flex-wrap: wrap;
}

.activities .cards1 .element {
    width: 20%;
}

.activities .cards1 .two_elements_in_column {
    display: flex;
    flex-direction: column;
    background-color: #DEEBFF;
}

.activities .cards1 .two_elements_in_column .element {
    width: 100%;
}

.image1, .image3, .image4, .image5, .image6 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: auto;
}

.image2 {
    border-top-left-radius:15px;
    border-bottom-left-radius: 15px;
    width: 100%;
    height: auto;
}


.element a {
    color: black;
    text-decoration: none;
}

.cards2 a {
    color: black;
    text-decoration: none;
}

.element:hover {
    border: 3px solid #ccc;
    border-radius: 18px;
    color: black;
}

.element_description {
    padding: 0 0 0 5px;
    line-height: 1.8;
}

.element_description p {
    margin:0;
}
  
.element {
    border: 3px solid white;  
    border-radius: 15px;
    background-color: white;
}

.two_elements_in_column {
    /*.element1:nth-of-type(2);
    .element2:nth-of-type(3);*/
    display: flex;
    flex-direction: column;
    width: 25%;
}

.title {
    font-weight: bold;
}

footer{
    width: 80%;
    height: 60px;
    display: flex;
    background-color: #F2F2F2;
    justify-content: flex-start;
    padding-left: 3%;
}

footer div{
    margin-right: auto;
}

footer div ul {
    list-style-type: none;
}

footer div ul li.footer_title {
    font-weight: bold;
    line-height: 2.8;
}

footer div ul li{
    line-height: 1.8;
}

footer div ul li a {
    color: black;
    text-decoration: none;
}

footer div ul li a:hover {
    border-bottom: 1px solid ;
}

  
/*@media only screen and (max-width: 700px) {
    .hotel {
      width: 50%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .hotel {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }*/